body {
    background-image: url("wine_cellar_doors_drawing_to_right_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40rem;
    font-family: 'Fondamento', cursive;
    padding-left: 5rem;
}

#wine-card-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.wine-card {
    box-shadow: 0 0 3px grey;
    margin: 1rem;
    padding: 1rem;
    width: 10rem;
}